body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.nav-bg {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background: #20638f;
}

.nav-bg .nav-link {
    color: white;
}

.bg-white .text-appel {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}

/*videos*/
.video {
    height: 400px;
    width: 100%;
}


/*cards*/
figure.snip1253 {
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1253 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

figure.snip1253 .image {
    max-height: 220px;
    overflow: hidden;
}

figure.snip1253 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

figure.snip1253 figcaption {
    margin: -40px 15px 0;
    padding: 15px;
    position: relative;
    background-color: #ffffff;
}

figure.snip1253 .date {
    background-color: #2980b9;
    top: 15px;
    color: #fff;
    left: 15px;
    min-height: 48px;
    min-width: 48px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

figure.snip1253 .date span {
    display: block;
    line-height: 24px;
}

figure.snip1253 .date .month {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
}

figure.snip1253 h3,
figure.snip1253 p {
    margin: 0;
    padding: 0;
}

figure.snip1253 h3 {
    min-height: 50px;
    margin-bottom: 10px;
    margin-left: 60px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

figure.snip1253 p {
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
}

figure.snip1253 footer {
    padding: 0 25px;
    background-color: #20638f;
    color: #e6e6e6;
    font-size: 0.8em;
    line-height: 30px;
    text-align: right;
}

figure.snip1253 footer > div {
    display: inline-block;
    margin-left: 10px;
}

figure.snip1253 footer i {
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

figure.snip1253 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*position: absolute;*/
    z-index: 1;
    color: #fff;
}

figure.snip1253:hover img,
figure.snip1253.hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.card {
    border: none;
}

.snip1518 {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1518 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1518 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

.snip1518 figcaption {
    padding: 10%;
    padding-bottom: calc(25%);
    background-color: #ffffff;
}

.snip1518 h3 {
    font-family: 'Montserrat', 'sans-serif';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

.snip1518 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
}

.snip1518 footer {
    border-top: 1px solid rgba(0, 0, 0, 0.065);
    padding: 0 20px;
    font-size: 13px;
    line-height: 50px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.snip1518 footer .icons {
    position: absolute;
    right: 20px;
    top: 0;
}

.snip1518 footer .icons > div {
    display: inline-block;
    margin-left: 8px;
}

.snip1518 footer .icons i {
    display: inline-block;
    margin-right: 5px;
    font-size: 1em;
}

.snip1518 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.snip1171 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background: #000000;
    color: #333;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1171 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1171 img {
    max-width: 100%;
    vertical-align: top;
}

figure.snip1171 figcaption {
    position: relative;
    background-color: #ffffff;
    padding: 20px 25px 50px;
}

figure.snip1171 h3 {
    position: absolute;
    bottom: 100%;
    text-transform: uppercase;
    padding: 0 25px;
    line-height: 44px;
    margin: 0;
    left: 0;
    font-weight: 400;
    background-color: #000000;
    color: #ffffff;
}

figure.snip1171 h3 span {
    font-weight: 800;
}

figure.snip1171 h3:before {
    position: absolute;
    left: 100%;
    border-style: solid;
    border-width: 44px 0 0 12px;
    border-color: transparent transparent transparent #000000;
    content: '';
    top: 0;
}

figure.snip1171 p {
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin: 0;
    line-height: 1.6em;
}

figure.snip1171 .price {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background-color: #000000;
    padding: 0 10px;
    line-height: 40px;
    font-weight: 800;
}

figure.snip1171 .price:before {
    position: absolute;
    right: 100%;
    border-style: solid;
    border-width: 0 12px 40px 0;
    border-color: transparent #000000 transparent;
    content: '';
    top: 0;
}

figure.snip1171 a {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000000;
    line-height: 40px;
    padding: 0 10px;
    color: #ffffff;
    font-weight: 800;
    font-size: 0.9em;
    text-transform: uppercase;
}

figure.snip1171 a:before {
    position: absolute;
    right: 100%;
    border-style: solid;
    border-width: 0 0 40px 12px;
    border-color: transparent transparent #000000;
    content: '';
    top: 0;
}

figure.snip1171.blue {
    background-color: #2472a4;
}

figure.snip1171.blue h3,
figure.snip1171.blue a,
figure.snip1171.blue .price {
    background-color: #2472a4;
}

figure.snip1171.blue .price:before {
    border-color: transparent #2472a4 transparent;
}

figure.snip1171.blue h3:before {
    border-color: transparent transparent transparent #2472a4;
}

figure.snip1171.blue a:before {
    border-color: transparent transparent #2472a4;
}

figure.snip1171.red {
    background-color: #ab3326;
}

figure.snip1171.red h3,
figure.snip1171.red a,
figure.snip1171.red .price {
    background-color: #ab3326;
}

figure.snip1171.red .price:before {
    border-color: transparent #ab3326 transparent;
}

figure.snip1171.red h3:before {
    border-color: transparent transparent transparent #ab3326;
}

figure.snip1171.red a:before {
    border-color: transparent transparent #ab3326;
}

figure.snip1171.orange {
    background-color: #d67118;
}

figure.snip1171.orange h3,
figure.snip1171.orange a,
figure.snip1171.orange .price {
    background-color: #d67118;
}

figure.snip1171.orange .price:before {
    border-color: transparent #d67118 transparent;
}

figure.snip1171.orange h3:before {
    border-color: transparent transparent transparent #d67118;
}

figure.snip1171.orange a:before {
    border-color: transparent transparent #d67118;
}

figure.snip1171:hover img,
figure.snip1171.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*comment*/


@media (max-width: 360px) {

    .nav-bg {
        font-size: 12px;
        color: white;
        text-transform: uppercase;
        background: #20638f;
    }

    .nav-bg .nav-link {
        color: white;
    }

    .bg-white .text-appel {
        font-size: 14px;
        color: white;
        font-weight: bold;
    }

    .text-logo {
        font-size: 8px;
        font-weight: bold;
    }

    .btn-sm {
        font-size: 8px;
        font-weight: bold;
    }

    .tab-cm {
        font-size: 13px;
    }

    .video {
        height: 200px;
        width: 100%;
    }


}

/*# sourceMappingURL=main.css.map */
