@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


/* ============== Regles generales ============== */

body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =================== Topbar =================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 6px;
}

header > a:first-of-type {
    flex-basis: 45%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1rem;
    color: #707070;
}

header div {
    text-align: center;
    padding: 5px 0;
}

header div i {
    color: #707070;
}

header div span {
    display: block;
    font-size: .6rem;
    color: rgba(0, 0, 0, .66)
}

header a:last-of-type {
    text-align: center;
    background-color: #169F20;
    color: #fff;
    font-size: .6rem;
    padding: 5px 7px;
}

/*---------------------start_proposition--------------------- */
.welcome{
  padding-top: 70px;
}
.sms{
  font-size: 20px;
  font-weight: bolder;
}
.message {
   margin-top: -55px;
   height: 50px;  
   overflow: hidden;
   position: fixed;
   background: #25343F;;
   color: #fff;
   border: 1px solid #fff;
   width: 100%;
}
.message p {
   position: absolute;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   -moz-transform:translateX(100%);
   -webkit-transform:translateX(100%);  
   transform:translateX(100%);  
   -moz-animation: scroll-left 18s linear infinite;
   -webkit-animation: scroll-left 18s linear infinite;
    animation: scroll-left 18s linear infinite;
}

  @-moz-keyframes scroll-left {
   0%   { -moz-transform: translateX(100%); }
   100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes scroll-left {
   0%   { -webkit-transform: translateX(100%); }
   100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes scroll-left {
   0%   { 
   -moz-transform: translateX(100%); 
   -webkit-transform: translateX(100%); 
   transform: translateX(100%);     
}
   100% { 
   -moz-transform: translateX(-100%); 
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%); 
 }
}


.fa:hover{
  color:#ff0000;
  background-color: rgba(64, 200, 130, 0.15);
}

h1{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    opacity: .29;
  animation: pulse 1s linear alternate infinite;
}

.covinfo{
  color: #0000ff;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
h2{
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}
.me {
    width: 100%;
    margin: 100px auto;
}
.me p,
.me h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
.me p {
    font-weight: 200;
}
.me span {
    font-weight: bold;
}
.social {
     position: fixed;
     margin-top: 20px;
}
.social ul {
     padding: 0px;
     -webkit-transform: translate(-270px, 0);
     -moz-transform: translate(-270px, 0);
     -ms-transform: translate(-270px, 0);
     -o-transform: translate(-270px, 0);
     transform: translate(-270px, 0);
}
.social ul li {
     display: block;
     margin: 5px;
     background: rgba(0, 0, 0, 0.36);
     width: 300px;
     text-align: right;
     padding: 10px;
     -webkit-border-radius: 0 30px 30px 0;
     -moz-border-radius: 0 30px 30px 0;
     border-radius: 0 30px 30px 0;
     -webkit-transition: all 1s;
     -moz-transition: all 1s;
     -ms-transition: all 1s;
     -o-transition: all 1s;
     transition: all 1s;
}
.social ul li:hover {
     -webkit-transform: translate(110px, 0);
     -moz-transform: translate(110px, 0);
     -ms-transform: translate(110px, 0);
     -o-transform: translate(110px, 0);
     transform: translate(110px, 0);
     background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
    color: #000;
}
.social ul li:hover i {
   color: #fff;
   background: red;
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   -ms-transition: all 1s;
   -o-transition: all 1s;
   transition: all 1s;
}
.social ul li i {
   margin-left: 10px;
   color: #000;
   background: #fff;
   padding: 10px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   font-size: 20px;
   background: #ffffff;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
}

/*---------------------end_proposition--------------------- */
/* ============ Styles des sections ============ */

section {
    margin: 50px 0 65px 0;
    display: none;
    padding: 16px;
}

.publication {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .16);
    margin-bottom: 15px;
}

.publication .image {
    background-image: url("../img/ecole241.png");
    height: 500px;
    background-size: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.publication .pub-date {
    display: flex;
    align-items: center;
}

.publication .pub-date i {
    color: rgba(0, 0, 0, .45);
}

.publication time {
    color: rgba(0, 0, 0, .45);
    font-size: .65rem;
    margin-left: 3px;
    padding-bottom: 2px;
}

.publication .content {
    font-size: .7rem;
    padding: 10px;
}

.publication .content p {
    margin-top: 4px;
    text-align: start;
}

.publication .pub-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publication .pub-footer p {
    color: rgba(0, 0, 0, .45);
    font-size: .65rem;
    font-style: italic;
}

/* ============ Section Symptomes  ============== */

section p+button {
    margin: 0 auto;
}

section > p {
    margin-top: 25%;
    text-align: center;
    font-size: 1.2rem;
    color: #707070;
}


/* =================== Footer =================== */

footer {
    position: fixed;
    bottom: -2px;
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .2) 0 -3px 6px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-flex;
    flex: 1 1 0;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    font-size: .6rem;
    padding: 10px;
}
footer li i {
    color: #707070;
    margin-bottom: 2px;
}

/* ============= Classes utilitaires ============= */

.hide {
    display: none;
}

.show {
    display: block;
}

.active,
.active i{
    color: #1565C0;
    background-color: #E4EFFA;
}

/* ================= Composants ================== */

.button span {
    margin-left: 5px;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #1565C0;
    color: #fff;
    border-radius: 4px;
    padding: 7px 7px;
    font-size: .7rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
