@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


/* ============== Regles generales ============== */

body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    /* overflow-y: hidden; */
}

a {
    text-decoration: none;
    color: inherit;
}

/* =================== Topbar =================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 6px;
}

header > a:first-of-type {
    flex-basis: 45%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1rem;
    color: #707070;
}

header div {
    text-align: center;
    padding: 5px 0;
}

header div i {
    color: #707070;
}

header div span {
    display: block;
    font-size: .6rem;
    color: rgba(0, 0, 0, .66)
}

header a:last-of-type {
    text-align: center;
    background-color: #169F20;
    color: #fff;
    font-size: .7rem;
    padding: 5px 7px;
}

/* ============ Styles des sections ============ */

section {
    margin: 50px 0 65px 0;
    display: none;
    padding: 16px;
}

section div.body {
    display: none;
}

section .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

section .loading > img {
    width: 40%;
}

section p + button {
    margin: 0 auto;
}

section > p:first-of-type {
    margin-top: 25%;
}

section > p {
    text-align: center;
    font-size: 1.2rem;
    color: #707070;
}

/* =================== Section Accueil =============== */

.compteur {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .16);
    margin-bottom: 15px;
}

.compteur .compteur-title {
    background-color: #1565c0;
    color: #ffffff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}

.compteur .compteur-body {
    display: flex;
    justify-content: space-around;
}

.compteur .compteur-body p {
    text-align: center;
    flex: 1 1 0;
    margin-top: 0;
}
.compteur .compteur-body p span {
    font-size: 2em;
    font-weight: bold;
}

.compteur .compteur-footer {
    background-color: #eee;
    color: #707070;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

/* =================== Section Symptomes =============== */

.remark {
    margin-top: 3px;
    padding: 5px;
}

.remark p:last-of-type {
    font-size: .9em;
}

.remark a {
    color: #1565C0;
}

.box {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .16);
    margin-bottom: 15px;
    padding: 1em;
    box-sizing: border-box;
}

.box-img {
    height: 125px;
}

.box-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box-content {
    text-align: center;
}

/* ============ Section des cartes ============ */

#cartes .cartes {
    flex-direction: column;
    justify-content: center;
}

#cartes .hopitaux {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cartes .hopitaux  > div p.bold {
    text-align: start;
}

.pharm, .hia, .chl, .cha, .zone {
    width: 100%;
}

#cartes .titre {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: #1565C0;
    margin-top: 30px;
}

#cartes p {
    text-align: justify;
    line-height: 25px;
}

#cartes li a {
    color: #1565C0;
    line-height: 25px;
}

#cartes .numero-vert {
    font-weight: bold;
    color: #169F20;
}

/* ============ Composant publication ============ */

.publication {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .16);
    margin-bottom: 15px;
}

.publication .title {
    font-size: .8em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    padding: .5em .25em;
    background-color: #1565C0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.publication .image {
    height: 125px;
}

.publication .image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.publication .pub-date {
    display: flex;
    align-items: center;
}

.publication .pub-date i {
    color: rgba(0, 0, 0, .45);
}

.publication time {
    color: rgba(0, 0, 0, .45);
    font-size: .65rem;
    margin-left: 3px;
    padding-bottom: 2px;
}

.publication .content {
    font-size: .7rem;
    padding: 10px;
}

.publication .content p {
    margin-top: 4px;
    text-align: start;
}

.publication .pub-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publication .pub-footer p {
    color: rgba(0, 0, 0, .45);
    font-size: .65rem;
    font-style: italic;
}

.publication .pub-footer a {
    color: #1565C0;
}

.publication .pub-sharing {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eee;
    margin-top: 15px;
}

.publication .pub-sharing a {
    flex: 1 1 0;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.publication .pub-sharing a:hover {
    background-color: #E4EFFA;
}

.publication .pub-sharing a:first-of-type {
    color: #4267b2;
}

.publication .pub-sharing a:nth-last-of-type(2) {
    color: #49c958;
}

/* =============== fenetre modal =============== */

.modal{
    position: fixed;
    z-index: 99;
    top: 10vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 90vh;
    bottom: 0;
    overflow-y: auto;
    border-radius: 0;
    box-sizing: border-box;
}

.modal .title{
    background-color: #ffffff;
    color: #707070;
    padding: 1em 0;
    font-size: 1.1em;
    border-radius: 0;
}

.modal .content{
    font-size: 1em;
    /* overflow-y: auto; */
}

.modal .image{
    height: 200px;
}

#btn-close-modal{
    /* flex-basis: 50%; */
    color: #707070;
    font-size: 2em;
    border: none;
    outline: none;
    background-color: transparent;
}

/* =================== Footer =================== */

footer {
    position: fixed;
    bottom: -2px;
    background-color: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .2) 0 -3px 6px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-flex;
    flex: 1 1 0;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    font-size: .6rem;
    padding: 10px;
    transition: transform .3s;
}

.button:active, .button-cancel:active {
    transition: transform .3s;
    transform: scale(.9);
}

footer ul li:active i, footer ul li:active span {
    transition: transform .3s;
    transform: scale(.6);
}

footer li i {
    color: #707070;
    margin-bottom: 2px;
}

/* ================= Composants ================== */

.button span,
.button-cancel span {
    margin-left: 5px;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #1565C0;
    color: #fff;
    border-radius: 4px;
    padding: 7px 7px;
    font-size: .7rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.button-cancel {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #1565C0;
    outline: none;
    background-color: #fff;
    color: #1565C0;
    border-radius: 4px;
    padding: 7px 7px;
    font-size: .7rem;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

/* ============= Classes utilitaires ============= */

.hide {
    display: none !important;
}

.show {
    display: block;
}

.active,
.active i {
    color: #1565C0;
    background-color: #E4EFFA;
}

.text-center {
    text-align: center;
}

.blue {
    color: #1565C0;
}

.red {
    color: #c0170c;
}
.bold {
    font-weight: bold;
}

@media (max-width:1024px){
    header{
        height: 10vh;
    }
}